h1 {
  color: white; /* set text color to white */
  font-family: cursive;
  font-size: 45px;
  margin: 15px; /* all four margins are 15px */ 
  /* Padding creates extra space within an element*/
  padding: 25px 50px;
}
h2{
  text-align: center; /* center the text */
  font-family: "Times New Roman", Times, serif;
}
h3{
  text-align: center;
}
p{
  text-align: center;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  padding: 20px 40px;
}
header {
  height: 128px; /* sets the height of the element */
  background-color: slategray;
}  
footer {
  height: 20px;
  background-color: black;
  padding: 20px;
} 
li {
  padding: 5px 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: brown;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: chartreuse;
}
